@model IEnumerable<Copie0Web.Models.Inscription>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DateInscription)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.Utilisateur.Nom)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Utilisateur.Prenom)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Parcours)
            </th>
        </tr>

    @foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.DateInscription)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Utilisateur.Nom)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Utilisateur.Prenom)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Parcours)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
            @Html.ActionLink("Details", "Details", new { id = item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.Id })
        </td>
    </tr>
    }

    </table>
