@using Copie0Web.Models
@model LoginViewModel
@*@{
        ViewBag.Title = "Se connecter";
    }*@


<br />
<center>
    <div class="row">
        <div class="col-md-8">
            <section id="loginForm">
                @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                {
                    @Html.AntiForgeryToken()

                    <h4>@*<strong> Nouvelle Connexion</strong>*@</h4>
                    <div class="col-md-8 mx-auto">
                        <div class="caption-card">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col">
                                        <img src="~/images/logos/login1.jpeg" width="150px" />
                                    </div>

                                </div>
                                <div class="row">
                                    <div class="col">

                                        <h3>Member Login</h3>
                                        <hr>

                                    </div>

                                </div>

                                <div class="row">
                                    <div class="col">
                                        <div class="form-group">
                                            <label>Adresse Email</label>

                                            @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                                            @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                                        </div>
                                        <div class="form-group">
                                            <label>Mot de passe</label>

                                            @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                                            @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })

                                        </div>
                                        <div class="form-group">
                                            <div class="col-md-offset-2 col-md-10">
                                                <div class="checkbox">
                                                    @Html.CheckBoxFor(m => m.RememberMe)
                                                    @Html.LabelFor(m => m.RememberMe)
                                                </div>
                                            </div>
                                        </div>
                                        <hr />
                                        <div class="form-group">
                                            <div class="col-md-offset-2 col-md-10">
                                                <input type="submit" value="Se connecter" class="btn btn-info" />
                                            </div>
                                        </div>
                                        <p>
                                            @Html.ActionLink("Inscrire comme nouvel utilisateur", "Register")
                                        </p>

                                        <p>
                                            @Html.ActionLink("Vous avez oublié votre mot de passe ?", "ForgotPassword")
                                        </p>
                                    </div>
                                </div>
                                <hr />
                                <a href="Home/index">Back to Home</a>
                            </div>

                        </div>
                    </div>


                }
            </section>
        </div>
        @*<div class="col-md-4">
            <section id="socialLoginForm">
                @Html.Partial("_ExternalLoginsListPartial", new ExternalLoginListViewModel { ReturnUrl = ViewBag.ReturnUrl })
            </section>
        </div>*@
    </div>

</center>

@section Scripts {
                    @Scripts.Render("~/bundles/jqueryval")
}
