@model IEnumerable<Copie0Web.Models.Cursus>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Ajouter Cursus", "Create", null, new { @class = "btn btn-outline-primary" })
  
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.IdSession)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Titre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Image)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IdSession)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Titre)
            </td>
            <td>
                <h6>
                    @Html.DisplayFor(modelItem => item.Titre)
                </h6>
                <span>
                    <img src="@Url.Content(@item.Image)" alt="@item.Titre"  width="60px"/>
                    @*<img src="@Html.DisplayFor(modelItem => item.Image)" class="img-fluid" width="60px" title="@Html.DisplayFor(modelItem => item.Titre)" />*@
                   
                </span>
            </td>

            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
            </td>
        </tr>
    }

</table>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}