@model Copie0Web.Models.Module

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Module</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.IdCursus)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IdCursus)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nom)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nom)
        </dd>
        @*<dd>
            @Html.DisplayFor(model => model.Description)
        </dd>*@

        <dt>
            @Html.DisplayNameFor(model => model.NombreHeures)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NombreHeures)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateDebut)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateDebut)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateFin)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateFin)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NomFormateur)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NomFormateur)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.LogoModule)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LogoModule)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
