@model IEnumerable<Copie0Web.Models.Module>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.IdCursus)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nom)
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.Description)
        </th>*@
        <th>
            @Html.DisplayNameFor(model => model.NombreHeures)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateDebut)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateFin)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NomFormateur)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LogoModule)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.IdCursus)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Nom)
    </td>
    @*<td>
        @Html.DisplayFor(modelItem => item.Description)
    </td>*@
    <td>
        @Html.DisplayFor(modelItem => item.NombreHeures)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.DateDebut)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.DateFin)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.NomFormateur)
    </td>
    <td>
        @*@Html.DisplayFor(modelItem => item.LogoModule)*@
        <h6>
            @Html.DisplayFor(modelItem => item.Nom)
        </h6>
        <span>
            <img src="@Url.Content(@item.LogoModule)" alt="@item.Nom" width="60px" />
        </span>
    </td>
    <td>
        @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
        @Html.ActionLink("Details", "Details", new { id = item.Id }) |
        @Html.ActionLink("Delete", "Delete", new { id = item.Id })
    </td>
</tr>
    }

</table>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}